@tailwind base;
@tailwind components;
@tailwind utilities;

nextjs-portal {
    display: none;
}

.custom-swal div:where(.swal2-icon).swal2-success [class^="swal2-success-line"] {
    background-color: #15803d;
}

.custom-swal .swal2-success {
    border-color: #15803d;
}

.custom-swal .swal2-success .swal2-success-ring {
    border: 0.25em solid rgba(21, 128, 61, 0.3);
}
